body{
    background-color: rgb(22, 22, 45);
    overflow-x: hidden;
    font-family:'Ubuntu', sans-serif;
}

header .-ms-signature{
    font-family: 'Zeyada', cursive;
    font-size: 30px;
}
img{width: 100%;}

.-ms-background-card{
    background-color: rgba(255, 255, 255, 0.789);
}
.-ms-background-card-terminal{
    background-color: rgb(57, 57, 57);
    color: white;
    font-family: 'JetBrains Mono', monospace;
}
.-ms-circle-red{
    font-size: 20px;
    color: #ff5f5c;
}

.-ms-circle-yellow{
    font-size: 20px;
    color: #ffbb4e;
}

.-ms-circle-green{
    font-size: 20px;
    color: #00c958;
}